obj
obj/*
bin
bin/*
deploy
deploy/*
aspnet_client
_UpgradeReport_Files
UpgradeLog.xml
*.testrunconfig
TestResults
Thumbs.db
deploy/*
_ReSharper.*
*ReSharper*
*resharper* 
*.suo
*.cache
*.vsmdi
*.bak
*.cache
*.dll
*.log
*.obj
*.swp
*.user
~$*

